<!-- ProjectCard.razor -->

@* Check is null *@
@if (Project == null)
{
    <p>Project is null</p>
    return;
}
else
{
    <div class="card">
        <img src="@Project.ImageUrl" alt="Project Image" class="card-img-top w-25">
        <div class="card-body">
            <h5 class="card-title">@Project.Name</h5>
            <p class="card-text">@Project.Description</p>
            <div>
                <a href="@Project.ProjectUrl" target="_blank" class="btn btn-primary">Visit Project</a>
                <a href="@Project.RepositoryUrl" target="_blank" class="btn btn-secondary">Source Code</a>
            </div>
            <div class="mt-2">
                @foreach (var tag in Project.TagNames)
                {
                    <span class="badge badge-secondary text-bg-primary">@tag</span>
                }
            </div>
        </div>
    </div>
}


@code {
    [Parameter]
    public ProjectSummary? Project { get; set; }
}
